html {
  // header
  --header-bg-color: #ffffff;
  --header-bg-hover-color: #ffffff;
  --header-active-menu-bg-color: #ffffff;

  // sider
  --sider-dark-bg-color: #001529;
  --sider-dark-darken-bg-color: #00061a;
  --sider-dark-lighten-bg-color: #0c2135;
}

@white: #fff;

@content-bg: #f4f7f9;

@iconify-bg-color: #5551;

// =================================
// ==============border-color=======
// =================================

// Dark-dark
@border-color-dark: #b6b7b9;

// Dark-light
@border-color-shallow-dark: #cececd;

// Light-dark
@border-color-light: #303030;

// =================================
// ==============Header=============
// =================================

@header-dark-bg-color: var(--header-bg-color);
@header-dark-bg-hover-color: var(--header-bg-hover-color);
@header-light-bg-hover-color: #f6f6f6;
@header-light-desc-color: #7c8087;
@header-light-bottom-border-color: #eee;


// =================================
// ==============Menu============
// =================================

// top-menu
@top-menu-active-bg-color: var(--header-active-menu-bg-color);

// let -menu
@sider-dark-bg-color: var(--sider-dark-bg-color);
@sider-dark-darken-bg-color: var(--sider-dark-darken-bg-color);
@sider-dark-lighten-bg-color: var(--sider-dark-lighten-bg-color);

// trigger
@trigger-dark-hover-bg-color: rgba(255, 255, 255, 0.2);
@trigger-dark-bg-color: rgba(255, 255, 255, 0.1);


// =================================
// ==============Text color-=============
// =================================

// Main text color
@text-color-base: #c9d1d9;

// Label color
@text-color-call-out: #606266;

// Auxiliary information color-dark
@text-color-help-dark: #909399;
